<body>
    <h1>World Brunches!!!</h1>

    <% sandwiches.forEach((sandwich, index) => { %>

        <a href="/sandwich/<%= sandwich._id %>"><h2><%= sandwich.sandwichName %></h2></a>

    <% }) %>

    <a href="/sandwich/new"><button>ADD SOME BRUNCH</button></a>
</body>`    