<h1>Add a sandwich</h1>

<form action="/sandwich" method="post">
    <input type="text" name="sandwichName" placeholder="sandwich">
    <!-- <input type="text" name="description" placeholder="description of sandwich"> -->
    <input type="checkbox" name="available">
    <input type="text" name="price" placeholder="cost">
    <input type="text" name="restaurantName" placeholder="name of restaurant">
    <input type="text" name="location" placeholder="city & state">
    <input type="submit" value="ADD A SAMMIE">
</form>